body {
	font-family: 'Asap', 'YuGothic', 'Yu Gothic medium', 'Hiragino Sans', 'sans-serif';
	color: #707070;
}

h1 {
	font-size: 32px;
	letter-spacing: 0.725em;
}

@media screen and (min-width:768px) {
	h1 {
		font-size: 40px;
	}
}

h2, h3 {
	letter-spacing: 0.018em;
}

th, td, a {
	letter-spacing: 4px;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #707070;
}

.wrap {
	overflow: hidden;
}

/*nav-bar*/

.navbar {
	top: 0;
	position: fixed;
	z-index: 90;
	width: 100vw;
}

.navbar-contents {
	background-color: #F8FAD4;
	opacity: .8;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	top: 0;
}

.navbar-contents-name {
	line-height: 1.325;
	padding-right: 56px;
	padding-left: 24px;
	flex-grow: 5;
}

@media screen and (min-width:768px) {
	.navbar-contents-name {
		text-align: center;
		padding-left: 80px;
	}
}

.navbar-contents-name h1 {
	font-size: 24px;
}

.hamburger-wrap {
	position: absolute;
	top: 24px;
	right: 24px;
	cursor: pointer;
	position: fixed;
	z-index: 99;
}

@media screen and (min-width:768px) {
	.hamburger-wrap {
		display: none;
	}
}

/*SP用ハンバーガーメニュー*/

.navbar-contents-hamburger {
	position: relative;
	width: 32px;
	height: 32px;
}

.navbar-contents-hamburger, .navbar-contents-hamburger span {
	display: inline-block;
	box-sizing: border-box;
	transition: all .4s;
}

.navbar-contents-hamburger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #707070;
}

.navbar-contents-hamburger span.middle {
	margin-top: 8px;
	background-color: #E4EFB9;
}

.navbar-contents-hamburger span.bottom {
	margin-top: 16px;
}

/*SP用ナビバースライド*/

.navbar-slide {
	width: 100vw;
	background-color: #E4EFB9;
	box-sizing: border-box;
	display: none;
}

.navbar-slide ul {
	list-style: none;
	line-height: 3.125;
	padding-left: 64px;
	letter-spacing: 4px;
}

.navbar-slide ul a li {
	text-decoration: none;
	color: #222;
}

.navbar-slide .fa-github {
	font-size: 1.5em;
}




/*WEB用ナビバーメニュー*/

.navbar-contents-menu {
	display: none;
}

@media screen and (min-width:768px) {
	.navbar-contents-menu {
		display: block;
		margin: auto 80px auto 0;
	}
	.navbar-contents-menu ul {
		margin-block-start: 0;
		margin-block-end: 0;
	}
	.navbar-contents-menu ul li {
		float: left;
		list-style-type: none;
		margin-right: 1.5em;
	}
	.navbar-contents-menu a {
		font-size: xx-small;
		letter-spacing: 1px;
	}
	.navbar-contents-menu li {
		position: relative;
		display: inline-block;
	}
	.navbar-contents-menu li::after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		width: 0;
		height: 1px;
		background-color: #1ec7bb;
		transition: .3s;
	}
	.navbar-contents-menu li:hover::after {
		width: 100%;
	}

	.navbar-contents-menu .fa-github{
		font-size: 2em;
		transform: translateY(-25%);
		transition: .3s;
	}

	.navbar-contents-menu .fa-github:hover{
		color: #1ec7bb;
	}

}

.display-none {
	display: none;
	/*非表示設定*/
}

/*key*/

.key-contents {
	background-color: #F8FAD4;
	padding-top: 100px;
	position: relative;
}

.key-img {
	background-image: url(img/top/key.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 100%;
	height: 160px;
	margin: 0 auto 0 0;
}

.key-text-box {
	position: absolute;
	bottom: -2em;
	right: 1em;
	z-index: 1;
	background-color: rgba(112, 112, 112, .4);
}

.key-text-box p {
	font-size: 24px;
	letter-spacing: 0.55em;
	line-height: 1.34375;
	margin-block-start: 0;
	margin-block-end: 0;
	color: #fafafa;
}

@media screen and (min-width:768px) {
	.key-img-box {
		position: relative;
		height: 263px;
	}
	.key-img {
		width: 800px;
		height: 331px;
		margin: 0 auto 0 0;
		position: absolute;
		left: 0;
		bottom: -80px;
	}
	.key-text-box {
		display: inline;
		position: absolute;
		bottom: 32px;
		right: 8%;
		background-color: transparent;
	}
	.key-text-box p {
		color: #707070;
	}
}

/*scroll-section*/

.scroll-content {
	text-align: center;
	margin: 160px auto 100px auto;
}

.scroll-text p {
	letter-spacing: 0.55em;
	font-size: xx-small;
}

/*profile*/

.profile-contents {
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: #F8FAD4;
}

.profile-content-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width:768px) {
	.profile-content-box {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

.profile-title {
	text-align: center;
}

.profile-img-box {
	order: 1;
	height: 240px;
	width: 100%;
	background-image: url(img/top/profile.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.profile-text-box {
	padding: 0px 48px;
	order: 2;
}

@media screen and (min-width:768px) {
	.profile-text-box {
		padding-right: 0;
	}
	.profile-text-main {
		max-width: 480px;
	}
	.profile-text-main p {
		margin-block-start: 0;
	}
	.profile-img-box {
		width: 245px;
	}
}

.profile-text-sub p {
	font-size: smaller;
}

/*skills*/

.skills-contents {
	padding-top: 100px;
	padding-bottom: 100px;
}

.skills-content-box {
	display: flex;
	flex-direction: column;
	padding-right: 32px;
	padding-left: 32px;
}

@media screen and (min-width:768px) {
	.skills-content-box {
		flex-flow: row wrap;
		justify-content: space-around;
	}
}

.skills-title-box {
	text-align: center;
}

@media screen and (min-width:768px) {
	#webdev, #tools {
		width: 50%;
		box-sizing: border-box;
	}
	#etc {
		width: 100%;
	}
	#tools {
		padding-left: 16px;
	}
}

.skills-content h3 {
	border-bottom: 1px solid #707070;
}

.skills-content table {
	background-color: #FBF3EF;
	margin-bottom: 32px;
	width: 100%;
}

/*テーブルのスクロール設定*/

@media only screen and (max-width: 665px) {
	.scroll {
		white-space: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.skills-content th {
	text-align: left;
	padding: 8px 32px;
}

/*gallery*/

.gallery-contents {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #F8FAD4;
	text-align: center;
}

.gallery-title-box {
	margin-bottom: 72px;
}

.gallery-slides {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-right: 42px;
	padding-left: 42px;
}

@media screen and (min-width:768px) {
	.gallery-slides {
		flex-direction: row;
	}
}

.slide {
	border: 1px solid #707070;
	min-height: 400px;
	position: relative;
	margin-bottom: 24px;
}

@media screen and (min-width:768px) {
	.slide {
		min-width: 316px;
	}
}

.slide-img {
	height: 400px;
}

@media screen and (min-width:768px) {
	.slide-img {
		height: 60%;
	}
}

.slide-first {
	background-image: url(img/top/slide-first.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.slide-second {
	background-image: url(img/top/slide-second.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.slide-third {
	background-image: url(img/top/slide-third.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.slide-text {
	height: 40%;
	width: 100%;
	border-top: .8px solid #707070;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	padding: 0 16px;
	text-align: start;
	font-size: 14px;
}

.slide-text p {
	letter-spacing: 2px;
}

.more-btn-box {
	margin-top: 24px;
}

.btn-flat-logo {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.8em 0.8em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
}

.btn-flat-logo:hover {
	background: #1ec7bb;
}

.btn-flat-logo:first-child {
	margin-right: 4em;
}

/*caption*/

.caption-contents {
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: #F8FAD4;
	box-sizing: border-box;
}

.caption-title {
	margin-bottom: 72px;
	text-align: center;
}

.caption-content-box {
	padding-right: 60px;
	padding-left: 60px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

@media screen and (min-width:768px) {
	.caption-content-box {
		flex-flow: row wrap;
	}
}

@media screen and (min-width:768px) {
	.caption-img-box {
		width: 40%;
	}
}

.caption-img {
	background-image: url(img/top/caption.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 600px;
}

@media screen and (min-width:768px) {
	.caption-img {
		background-size: contain;
	}
}

@media screen and (min-width:768px) {
	.caption-text {
		width: 60%;
		padding-right: 60px;
		box-sizing: border-box;
	}
}

/*contact*/

.contact-contents {
	text-align: center;
	min-height: 200px;
}

.contact-contents {
	padding: 40px 0;
	text-align: center;
}

/*footer*/

.footer-contents {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #F8FAD4;
}